.submitButton {
  background: #ff5043;
  color: white;
 height: 40px;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color ease-in 0.2s;
}

.searchInputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchInput {
  padding: calc(0.75rem - 1px);
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
.alert {
  color:#ff5043;
  font-size: 14px
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.submitButton:hover {
  background-color: rgba(255, 80, 67, 0.75);
}